$font-stack:"Lucida Sans Unicode", "Lucida Grande", verdana, arial, sans-serif;
$color-white:white;
$color-skyblue:#00a1de;
$color-light-slategray:lightslategrey;
$background-default-color:$color-white;
$error-txt-color:red;
$data-row-color:rgb(34, 113, 165);
$border-default: 1px solid $color-light-slategray;
$elem-hover-color:#ffa;
